* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(circle at center, rgba(0, 128, 0, 0.3), transparent),rgba(0, 128, 0, 0.3);
    color: #e0e0e0;
  }
  main {
    flex: 1;
    padding: 20px;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80vw;
    height: 80vw;
    background: rgba(0, 128, 0, 0.1);
    border-radius: 50%;
    filter: blur(150px);
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    padding: 10px;
    
  }
  .navbar-items {
    position: fixed;
    display: flex;
    gap: 15px;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 10px 20px;
    border-radius: 10px; 
  }

  .navbar-items a {
    color: white; 
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    position: relative; 
    transition: color 0.3s ease;
  }
  
  /* Line effect */
  .navbar-items a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0; 
    height: 2px; 
    background-color: #32CD32; /* Line color */
    transition: width 0.3s ease; 
  }
  
  .navbar-items a:hover {
    color: #ffffff; 
  }
  
  .navbar-items a:hover::after {
    width: 100%; 
  }
  
  #hero {
    display: inline-block;
    text-align: center;
    padding: 100px 20px;
  }
  
  #hero h1 {
   
    font-size: 120px;
    color: #f0f0f0; 
  }
  
 #hero p{
    font-size: 20px;
 }

 
  .highlight {
    color: #32CD32; 
  }
  
  
  #hero .highlight {
    color: #32CD32; 
  }
  
button {
    border-radius: 5px;
    font-size: 1.25rem;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #32CD32;
    color: #000;
    border: none;
    cursor: pointer;
    font-weight: bold;
    box-shadow: #000;
  }
  
  h2 {
    text-align: center;
    color: #f1f5ed; 
  }
  
  #skills,
  #projects {
    padding: 50px 20px;
    text-align: center;
  }
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .tile {
    background: rgba(0, 0, 0, 0.8);
    color: #e0e0e0;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #32CD32;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .tile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white; 
    padding: 4px;
    border: 1px solid #32CD32;
  }
  .tile:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  
  .projects-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
  }
  
  .project-card {
    /* letter-spacing: 0.5px; */
    
    background: rgba(0, 0, 0, 0.8);
    color: #d1d1d1;
    border: 1px solid green;
    padding: 20px;
    width: 400px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .project-card img {
    width: 100%; 
    height: 200px; 
    display: block;
    object-fit: cover; 
}
  .project-card h3{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .project-card:hover {
    transform: scale(1.05); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
  }
 

 /* Reviews Section */
#reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  /* Slider container */
  .review-slider {
    position: relative;
    width: 80%; 
    overflow: hidden; 
    display: flex;
    align-items: center; 
  }
  
  
  .review-container {
    display: flex;
    transition: transform 0.5s ease; 
    gap: 20px; 
  }
  
  
  .review-card {
    min-width: 250px; 
    padding: 20px;
    background-color: #222;
    color: white;
    border-radius: 10px;
    text-align: left; 
    transition: transform 0.3s ease; 
    cursor: pointer;
    position: relative; 
  }
  .review-title {
    font-size: 18px; 
    margin-bottom: 10px; 
  }
  
  
  .review-text {
    font-size: 14px; 
    margin-bottom: 20px; 
  }
  
  
  .review-name {
    font-size: 12px; 
    color: #32CD32; 
    position: absolute; 
    bottom: 10px; 
    right: 10px; 
  }
  
  
  .review-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
  }
  
  /* Arrow buttons */
  .slide-arrow {
    position: absolute;
    top: 35%; 
    transform: translateY(-40%); 
    background-color: #32CD32; 
    color: #111;
    border: none;
    border-radius: 50%; 
    font-size: 20px; 
    width: 50px; 
    height: 50px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    z-index: 100; 
  }
  
  .slide-arrow:hover {
    background-color: #28a745; 
  }
  
  .left-arrow {
    left: 10px; 
  }
  
  .right-arrow {
    right: 10px; 
  }
  

 
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); 
    color: #32CD32;
    width: 100%;
  }
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .circle-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 128, 0, 0.3); 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
  }
  
.circle-icon:hover {
    background-color: #32CD32; 
  }
  
  .circle-icon img {
    width: 20px;
    height: 20px;
    filter: invert(100%); 
  }

  
.footer-image img{
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    object-fit: cover; 
  }

  